<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>

    <h1>POLÍTICA DE PRIVACIDAD PARA USUARIOS DE BRINDIS APP (Bares Colombia)</h1>
    <br>
    <br>
    <h2>Fecha última actualización: 07/Mayo /2020</h2>
    <br>
    <br>
    <br>
    <p>De conformidad con el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016,
        relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la
        libre circulación de estos datos (Reglamento General de Protección de Datos - RGPD), Carlos Alberto Rodríguez
        Sánchez, informa a los usuarios de la aplicación Brindis Bares Colombia (en adelante, la Aplicación), acerca del
        tratamiento de los datos personales, que ellos voluntariamente hayan facilitado durante el proceso de registro,
        acceso y utilización del servicio.</p>
    <br><br>
    <h2>1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO.</h2>

    <p>Carlos Alberto Rodríguez Sánchez, identificado con el CC/NIT: 1049649831 y domicilio a efectos de notificaciones
        en: Carrera 2 # 46 35, Barrio las Quintas, Tunja Boyacá (en adelante, el responsable del Tratamiento), es la
        entidad responsable del tratamiento de los datos facilitados por los clientes de la Aplicación (en adelante,
        el/los Usuario/s).</p>
    <br>
    <br>
    <h2>2. FINALIDAD DEL TRATAMIENTO DE DATOS.</h2>
    <p>Para proceder al registro, acceso y posterior uso de la Aplicación, el Usuario deberá facilitar de forma
        voluntaria-, datos de carácter personal (esencialmente, identificativos y de contacto), los cuales serán
        incorporados a soportes automatizados titularidad de Carlos Alberto Rodríguez Sánchez.</p>
    <br>
    <p>La recogida, almacenamiento, modificación, estructuración y en su caso, eliminación, de los datos proporcionados
        por los Usuarios, constituirán operaciones de tratamiento llevadas a cabo por el responsable, con la finalidad
        de garantizar el correcto funcionamiento de la Aplicación, mantener la relación de prestación de servicios y/o
        comercial con el Usuario, y para la gestión, administración, información, prestación y mejora del servicio. Los
        datos personales facilitados por el Usuario -especialmente, el correo electrónico o e-mail- podrán emplearse
        también para remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad
        de la Aplicación, siempre y cuando, el Usuario haya prestado previamente su consentimiento expreso para la
        recepción de estas comunicaciones vía electrónica.</p>
    <br><br>
    <h2>3. LEGITIMACIÓN.</h2>
    <p>El tratamiento de los datos del Usuario, se realiza con las siguientes bases jurídicas que legitiman el mismo:
    </p>
    
    <style>
        h1 {
            text-align: center;
            font-weight: bolder;
        }

        h2 {
            text-align: justify;
            font-weight: bold;
        }

        p {
            text-align: justify;
        }
    </style>

</body>

</html>